<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Libre+Franklin:wght@100&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/layout/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/20e44dbf94.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="content">
        <div class="navbar">
            <div class="profile">
                <a href="#">Perfil</a>
            </div>
            <div class="items">
                <a class="navbar-href" href="/"><i class="fas fa-home"></i></a>
                <a class="navbar-href" href="/user/addfriends"><i class="fas fa-user-friends"></i></a>
                <a class="navbar-href" href="#"><i class="fas fa-store"></i></a>
                <a class="navbar-href" href="#"><i class="fas fa-users"></i></a>
            </div>
            <div class="searcher">
                <form action="/searcher/" method="POST">
                    <input name="name" type="text" placeholder="Buscar" />
                    <button><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="hidden-searcher">
                <form>
                    <input type="text" placeholder="Buscar" />
                    <a><i class="fas fa-search"></i></a>
                </form>
            </div>
        </div>
        <div class="body">
            {{{body}}}
        </div>
    </div>
</body>

</html>

<script>
    let prevDiv;
    const buttonToggle = document.querySelector('.searcher-button');
    buttonToggle.addEventListener('click', function () {
        document.querySelector('.hidden-searcher').classList.toggle('active');
    });

    $(".navbar-href").click(function(){
        $(prevDiv).removeClass('border');
        $(this).addClass('border');
        prevDiv = $(this);
    });
</script>