<link rel='stylesheet' href='/css/index.css' />


<div class="groups">

</div>
<div class="publications">
    <img src="" alt="imagendeperfil">
    <input type="text" placeholder="¿Qué estas pensando?">
</div>
<div class="fiends">

</div>