<link rel='stylesheet' href='/css/index.css' />
<script src="//momentjs.com/downloads/moment-with-locales.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="//momentjs.com/downloads/moment-with-locales.js"></script>
<script src="/js/converter.js"></script>
<script src="/socket.io/socket.io.js"></script>


<title>Inicio</title>
<div class="index">
    <div class="notifications-panel">
        <div class="notifications-button">
            <span>&#9776;</span>
        </div>
        <div class="menu">
            <h1>Notificaciones</h1>
            <div id="notifications" class="notifications">
                
            </div>
        </div>
    </div>
    <div class="publications-menu">
        <div class="upload-publication">      
            <img src="{{avatar}}" alt="">
            <input id="button" type="text" placeholder="¿Qué estás pensando?">
            <div id="modal" class="modal">
                <div class="modal-content">
                    <div class="title">
                        <span class="close">&times;</span>
                        <p>Crear publicación</p>
                    </div>
                    <form class="message" action="/publications/uploadpublication" method="POST" id="upload-form">
                        <textarea name="text" type="text" placeholder="¿Qué estás pensando?"></textarea>
                    </form>
                    <div class="button">
                        <button type="submit" form="upload-form">Publicar</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="publications" class="publications">
            
        </div>
    </div>
    <div class="friends-panel">
        <div class="friends-button">
            <span>&#9776;</span>
        </div>
        <div class="menu">
            <h1>Amigos</h1>
            <div id="friends" class="friends">
                
            </div>
        </div>
    </div>
</div>
<div id="chats" class="chats">
    
</div>


<script>
    var socket = io();
    var button = document.getElementById("button");
    var modal = document.getElementById("modal");
    var span = document.getElementsByClassName("close")[0];
    var notifications = document.getElementById('notifications')
    var publications = document.getElementById('publications')
    var friends = document.getElementById('friends')
    var chats = document.getElementById('chats')
    var userLogged
    var chatMessages
    button.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    //este boton de aca corresponde al user-options del navbar. si lo pongo en el main.hbs no funciona, en cambio aca si.
    const buttonToggleUserOptions = document.querySelector('.user-options-button');
    buttonToggleUserOptions.addEventListener('click', function () {
        document.querySelector('.user-options').classList.toggle('active');
    });

    const buttonToggleNotifications = document.querySelector('.notifications-button');
    buttonToggleNotifications.addEventListener('click', function () {
        document.querySelector('.notifications-panel').classList.toggle('active');
    });

    const buttonToggleFriends = document.querySelector('.friends-button');
    buttonToggleFriends.addEventListener('click', function () {
        document.querySelector('.friends-panel').classList.toggle('active');
    });

    $.get("http://localhost:3000/user/getuserlogged", data => {
        userLogged = data
    });

    $.get("http://localhost:3000/user/getnotifications", data => {
        if (data.status) {
            $.each(data.userNotifications, function () {
                notifications.innerHTML +=
                    '<div class="notification">'+
                       '<div class="notification-info">'+
                           '<div class="user-avatar">'+         
                               '<img src="' + this.from.avatar + '" alt="">'+
                           '</div>'+
                           '<div class="user-info">'+
                               '<p> El usuario ' + this.from.name + ' te ha enviado una solicitud de amistad </p> Hace ' +
                           '</div>'+
                       '</div>'+
                       '<form class="notification-action" action="/user/acceptfriend/' + this._id + '/'+ this.from._id+'" method="POST">'+
                           '<button name="request" value="add" class="add">Añadir amigo</button>'+
                           '<button name="request" value="refuse" class="refuse">Rechazar</button>'+
                       '</form>'+
                   '</div>'
            })
        } else {
            notifications.innerHTML = data.message
        }
    });

    $.get("http://localhost:3000/publications/getallpublications", data => {
        if (data.status) {
            $.each(data.publications, function () {
                publications.innerHTML +=       
                '<div class="publication">'+
                    '<div class="publication-info">'+
                        '<div class="user-avatar">'+
                            '<img src="' + this.user[0].avatar + '" alt="">'+
                        '</div>'+
                        '<div class="user-info">' + this.user[0].name + ' ' + this.user[0].surname + '<br>hace ' + convertDate(this.user[0].createdAt) +
                        '</div>'+
                    '</div>'+
                        '<div class="publication-description">' + this.description +
                    '</div>'+
                '</div>'
            })
        } else {
            publications.innerHTML = data.message
        }
    });

    $.get("http://localhost:3000/user/getalluserfriends", data => {
       
        if (data.status) {/*onclick="displayfriendchat('+ this._id +')*/
            $.each(data.friends, function () {
                friends.innerHTML +=
                   '<button class="friend" id="'+ this._id +'" onclick="displayfriendchat(\''+this._id+'\')">'+
                        '<div class="friend-info">'+ // al tocar en un amigo, abrir su chat y pasarle la id de este amgio
                            '<div class="user-avatar">'+
                                '<img src="' + this.avatar + '" alt="">'+
                            '</div>'+
                            '<div class="user-info">' + this.name + ' ' + this.surname +
                            '</div>'+
                        '</div>'+
                    '</button>'
            })
        } else {
            friends.innerHTML = data.message
        }
    });

    function displayfriendchat(friendId) {
        $.get("http://localhost:3000/chat/getfriendchat/" + friendId, data => {
            var friendChat = null
            friendChat = data
            document.getElementById(friendChat._id).classList.toggle('active');
            socket.emit('connected', userLogged, friendChat._id)
        })
    }

    $.get("http://localhost:3000/chat/getallchats", data => {
        const allChats = data 
        $.each(allChats, function () {
            chats.innerHTML +=
                '<div class="chat" id="'+ this._id +'">'+
                    '<div class="chat-index">'+
                        '<img src="" alt="">'+
                        '<a href="#">'+ this.users[0].name +'</a>'+
                        '<span class="minimize">&minus;</span>'+
                        '<span class="close">&times;</span>'+
                    '</div>'+
                    '<div class="chat-messages">'+
                    '</div>'+
                    '<div class="chat-options">'+
                        '<input type="text" placeholder="Enviar mensaje" onclick="inputListener(\''+this._id+'\')">'+
                    '</div>'+
                '</div>'
        })
    });

    function inputListener(chatId) {
        var chat = document.getElementById(chatId).children;
        var selectedInput = chat[2].children[0] //dentro del chat, se dirige a su tercer hijo de div="options" y luego al hijo de ese options el cual es el input
        selectedInput.addEventListener('keypress', function () {
            if (event.keyCode === 13) {
                event.preventDefault();
                sendMessage(selectedInput.value);
                selectedInput.value = ""
            }
        });
    }

    //<--------------------------------------------------------------------Socket.io---------------------------------------------------------------------->
    // Envia al server que el usuario se conecto
     //                                ACA PASARLE EL CHATID DE LAGUNA MANERA
    
    var a = document.getElementById('messageToSend');
    //Si el usuario toca el enter se llama a la función para enviar el mensaje
    

    // Cuando un usuario envia un mensaje, se emite esta accion con el nombre y el mensaje del usuario al servidor
    function sendMessage(message) {
        if (message) {
            socket.emit('message', {
                message: message,
                user: userLogged
            });
        } else {
            alert("Escribe algo para enviar")
        }
    }

    // Recibe y muestra la conexion de un usuario
    socket.once('userconnect', function (currentlyChatId) {
        var chat = document.getElementById(currentlyChatId).children;
        var chatIndex = chat[0]
        chatIndex.innerHTML += '<p> sosbuenoconmigo</p>'
    })

    function insertMessages(currentlyChatId, message) {
        var chatId = currentlyChatId
        var messageId = message._id
        var chat = document.getElementById(chatId).children;
        var chatMessages = chat[1]
        chatMessages.innerHTML += '<div id="' + messageId +'">'
        var messageDiv = document.getElementById(messageId);
        messageDiv.innerHTML +=
            '<div id="'+messageId+'">'+
            '<p>' + message.message + '</p>' +
            '</div>' 
    }

    // Recibe y mustra el historial de mensajes
    socket.on('chathistory', function (currentlyChatId, messages) {
        $.each(messages, function () {
            insertMessages(currentlyChatId, this)
        })
        
    })

    // Recibe y muestra la desconexion de un usuario
    socket.on('userdisconnect', function (username) {
        messages.innerHTML += '<p>' + username + ' se ha desconectado</p>'
    })

    // Si el usuario esta escribiendo se le informa al servidor
    /*message.addEventListener('keypress', function () {
        socket.emit('typing', username)
    });*/

    // Recibe y muestra cuando el usuario esta escribiendo
    socket.on('typing', function (data) {
        //nadatodavia
    });

    // Recibe y muestra el mensaje del usuario
    socket.on('message', function (currentlyChatId, message) {
        var chatId = currentlyChatId
        var message = message
        insertMessages(chatId, message)
    });
</script>