.index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas: 
    'notifications-panel publications-menu friends-panel';
    gap: 20em;
}

.index .notifications-panel {
    grid-area: notifications-panel;
    z-index: 1000;
    left: 0;
    position: relative;
    padding: 1em;
    transition: all 400ms linear;
    background-color: rgb(0, 48, 66);
    color: white;
  }
  
.notifications-button {
    position: absolute;
    cursor: pointer;
    left: 25em;
}

.notifications-button span{
    font-size: 30px;
}

.notifications-panel.active {
    left: -24.7em;
}

.notifications-panel .menu {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 4em 1fr;
}

.notifications {
    display: grid;
    grid-auto-rows: 8.8em;
    gap: 1em;
    padding: 1em;
}

.notifications .notification {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 4em 2em;
    grid-template-areas: 
    'notification-info'
    'notification-action';
    background-color: rgb(0, 48, 66);
    color: white;
    gap: 3em;
    box-shadow:  2px 2px 10px 0 rgb(93, 93, 93);
}

.notification .notification-info {
    grid-area: notification-info;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-auto-rows: 3em;
    grid-template-areas: 
    'user-avatar user-info'
    'user-avatar user-info'
    ;
    gap: 1em;
    
}

.notification-info .user-avatar {
    grid-area: user-avatar;
    padding-top: 1em;
}

.notification-info .user-info {
    grid-area: user-info;
}


.notification .notification-action {
    grid-area: notification-action;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: .5em;
    padding: .1em;
}

.notification-action .add {
    background-color: rgb(0, 113, 158);
    text-decoration: none;
    border-style: none;
    color: white;
}

.notification-action button {
    border-radius: 5px;
    cursor: pointer;
}

.notification-info .user-avatar img{
    width: 100%;
    height: auto;
}

.index .friends-panel {
    grid-area: friends-panel;
    grid-template-columns: 100%;
    z-index: 1000;
    left: 0;
    position: relative;
    padding: 1em;
    transition: all 400ms linear;
    background-color: rgb(0, 48, 66);
    color: white;
}

.friend-panel .menu {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 4em 1fr;
}

.friends {
    display: grid;
    grid-auto-rows: 3em;
    gap: 1em;
    padding: 1em;
}

.friends .friend {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3em;
    grid-template-areas: 
    'friend-info';
    background-color: rgb(0, 48, 66);
    color: white;
    gap: 3em;
    box-shadow:  2px 2px 10px 0 rgb(93, 93, 93);
}

.friend .friend-info {
    grid-area: friend-info;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-auto-rows: 3em;
    grid-template-areas: 'user-avatar user-info';
    gap: 1em;
}

.friend-info .user-avatar {
    grid-area: user-avatar;
}

.friend-info .user-info {
    grid-area: user-info;
    margin-top: 1em
}

.friend-info .user-avatar img{
    width: 100%;
    height: auto;
}

.friends-button {
    position: absolute;
    cursor: pointer;
    right: 25em;
}

.friends-button span{
    font-size: 30px;
}

.friends-panel.active {
    left: 24.7em;
}




.notification .notification-action {
    grid-area: notification-action;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: .5em;
    padding: .1em;
}

.notification-action .add {
    background-color: rgb(0, 113, 158);
    text-decoration: none;
    border-style: none;
    color: white;
}

.notification-action button {
    border-radius: 5px;
    cursor: pointer;
}

.notification-info .user-avatar img{
    width: 100%;
    height: auto;
}



.publications-menu {
    grid-area: publications-menu;
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas: 'upload-publication' 'publications';
    gap: 3em;
}

.publications-menu .upload-publication {
    grid-area: upload-publication;
    display: grid;
    grid-template-columns: 3em auto;
    grid-auto-rows: 4em;
    gap: .3em;
    align-items: center;
    justify-items: center;
    background-color: rgb(0, 48, 66);
    color: white;
    padding: .5em;
}

.publications-menu .upload-publication, .publications-menu .publication {
    border-radius: 10px;
}

.upload-publication img {
    width: 100%;
    justify-self: right;
}

.publications-menu input {
    width: 26em;
    border-radius: 5px;
}

.publications-menu .publications {
    grid-area: publications;
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
    gap: 1em;
}

.publications-menu .publication {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1em auto;
    grid-template-areas: 
    'publication-info'
    'publication-description';
    background-color: rgb(0, 48, 66);
    color: white;
    gap: 3em;
    padding: 1em;
}

.publication .publication-info {
    grid-area: publication-info;
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-auto-rows: 3em;
    grid-template-areas: 
    'user-avatar user-info'
    'user-avatar user-info'
    ;
    gap: 1em;
}


.publication-info .user-avatar {
    grid-area: user-avatar
}

.publication-info .user-avatar img{
    width: 100%;
    height: auto;
}

.publication-info .user-info {
    grid-area: user-info
}

.publication .publication-description {
    grid-area: publication-description;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3000; /* Sit on top */
    padding-top: 15em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.modal-content {
    margin-left: 35%;
    width: 500px;
    background-color: rgb(0, 48, 66);
    color: white;
    border: 1px solid #888;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 31em;
    grid-template-rows: 2em 8em 2em;
    grid-template-areas: 
    'title'
    'message'
    'button';
    padding: 1em;
    gap: 2em;
}

.modal-content .title {
    grid-area: title;
}

.modal-content .message {
    grid-area: message;
}

.message textarea{
    height: 100%;
    width: 100%;
}

.message input::placeholder {
    text-align: center;
}

.modal-content .button {
    grid-area: button;
    
}

.button button{
    color: white;
    background-color: rgb(45, 147, 187);
    width: 100%;
    height: 100%;
    border: none;
}

.button button:hover{
    cursor: pointer;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.chats {
    display: grid;
    grid-template-columns: 22em 22em;
    grid-template-rows: 16em;
    position: sticky;
    z-index: 2000;
    bottom: 0;
    left: 0em;
    gap: 1em;
    justify-items: right;
    justify-content: right;
    padding-right: 1em;
}

.chat {
    display: none;
    grid-template-columns: 20em;
    grid-template-rows: 2.5em 10em 2em;
    grid-template-areas: 'chat-index' 'chat-messages' 'chat-options';
    padding: 1em;
    background-color: rgb(29, 75, 92);
    color: #fff;
    border-radius: 5px;
}

.chat.active {
    display: grid;
}

.chat .chat-index {
    grid-area: chat-index;
    border-bottom: 2px solid rgb(100, 114, 119);
    display: grid;
    grid-template-columns: 10% 75% 10% 10%;
}

.chat-index a {
    color: white;
    text-decoration: none;
    margin: .3em;
}

.chat-index .close {
    color: white;
}

.chat-index .minimize {
    font-size: 30;
    color: white;
}

.chat-index img {
    width: 100%;
    height: auto;
}

.chat .chat-messages {
    grid-area: chat-messages;
    
}

.chat .chat-options {
    grid-area: chat-options;
}