<link rel='stylesheet' href='/css/user/addfriends.css' />

<title>Amigos</title>
<div class="addfriends">
    <div class="friend-menu">
        <div class="title">
            <h2>Solicitudes de amistad</h2>
        </div>
            {{#each users}}
                <div class="friend-request">
                    <div class="image">
                        tachanck
                    </div>
                    <div class="name">
                        {{name}} {{surname}}
                    </div>
                    <div class="confirm">
                        <button>Confirmar</button>
                    </div>
                    <div class="refuse">
                        <button>Rechazar</button>
                    </div>
                </div>
            {{/each}}
    </div>
    <div class="friend-profile">

    </div>
</div>