<link rel='stylesheet' href='/css/user/addfriends.css' />

<div class="addfriends">
    <div class="friend-menu">
        <div class="title">
            <h2>Solicitudes de amistad</h2>
        </div>
        <div class="friend-request">
            {{#each users}}
                <div class="image">
                    tachanck
                </div>
                <div class="name">
                    {{name}} {{surname}}
                </div>
                <div class="confirm">
                    <button>Confirmar</button>
                </div>
                <div class="refuse">
                    <button>Rechazar</button>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="friend-profile">

    </div>
</div>