<link rel='stylesheet' href='/css/user/login.css' />
<link rel='stylesheet' href='/css/normalize.css' />
<title>Ingreso</title>

<div class="login-section">
    <div class="login-content">
        <div class="text">
            <h1>Petete</h1> <p>con petete vas a tachanckear tachanckeado</p>
        </div>
        <div class="form">
            <input class="email" type="text" placeholder="Correo Electrónico" required>
            <input class="password" type="password" placeholder="Contraseña" required>
            <button class="submit" type="submit"><b>Ingresar</b></button>
            <label class="forgotten"><a href="#"><b>¿Contraseña olvidada?</b></a></label>
            <div class="divider"></div>
            <button class="register"><a href="/user/register"><b>Registro</b></a></button>
        </div>
    </div>
    <div class="login-footer">
        Petete@Todos los derechos reservados
    </div>
</div>