.login-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 43em 17.4em;
    grid-template-areas: 'login-form' 'footer';
    background-color: rgb(249, 253, 255);
    color: black;
    font-family: 'Anton', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
}

.login-content {
    grid-area: login-form;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 23em;
    grid-template-areas: 'text form';
    gap: 4em;
}

.login-content .text{
    grid-area: text;
    font-size: 1.5em;
}

.login-content .form {
    padding: 1em;
    grid-area: form;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 3em) 2em .2em 3em;
    grid-template-areas: 
    'email'
    'password'
    'submit'
    'forgotten'
    'divider'
    'register'
    ;
    gap: 1em;
    background-color: rgb(255, 255, 255);
    box-shadow:  2px 2px 10px 0 rgb(93, 93, 93);
    border-radius: 10px;
}

.form input {
    padding: 20px;
}

.form .email {
    grid-area: email;
}

.form .password {
    grid-area: password;
}

.form .submit {
    grid-area: submit;
    background-color: rgb(45, 147, 187);
}

.form .forgotten {
    grid-area: forgotten;
}

.form .divider {
    grid-area: divider;
    height: 1px;
    background-color: rgb(167, 167, 167);
}

.form .register {
    grid-area: register;
    padding-top: 1em;
    background-color: rgb(0, 71, 98);
}

.form .submit, .form .register b {
    color: white;
}

.login-footer {
    grid-area: footer;
    background-color: rgb(0, 67, 93);
}

@media screen and (min-width: 320px) and (max-width: 768px)
{
    .login-section {
        grid-template-rows: 40em 13.2em;
    }
    .login-content {
        grid-template-columns: 1fr;
        grid-template-rows: 14em 22em;
        grid-template-areas: 'text' 'form';
        gap: 0;
        align-self: auto;
    }
    .login-content .text{
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px)
{
    .login-content {
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
}



/*
@media screen and (min-width: 320px) and (max-width: 1024px)
{
    .login-section {
        grid-template-rows: 40em 13.2em;
    }
    .login-content {
        grid-template-columns: 0.95fr;
        grid-template-rows: 14em 22em;
        grid-template-areas: 'text' 'form';
        margin-left: 1em;
        gap: 0;
        align-self: auto;
    }
    .login-content .text{
        text-align: center;
    }
    .login-content .form {
        
    }
}*/